@media screen and (max-width:1000px){
    nav{
        flex-direction: column;
    }
    .logo img{
        justify-content: center;
        margin: 12px 0;
    }

    nav ul{
        height: 34px;
        justify-content: center;
    }

    .slider{
        height: 23vh;
    } 
    .slider img{
        height: 23vh;
        
    } 
    .items img{
        width: 140px;
    }
    .cards{
        overflow: scroll;
    }
    
}